{% extends "layout.html" %}

{% block title %}
    About ZamCulture Hub
{% endblock %}

{% block main %}
<h2 class="mb-4 text-center">About ZamCulture Hub</h2>
<div class="card">
    <div class="card-body text-center">
        <p>ZamCulture Hub is a platform dedicated to preserving and sharing the rich cultural heritage of Zambia. Our mission is to provide a space where stories, traditions, and histories can be documented, celebrated, and passed down through generations.</p>
        <p>Whether you're a local storyteller or someone interested in Zambian culture, we invite you to explore our collection of stories and contribute your own.</p>
    </div>
</div>
<div class="card text-center mt-4">
    <div class="card-body">
        <h4 class="mb-4" style="color: #387999;">Contact Us</h4>
        <p>Have questions or feedback? Reach out:</p>
        <a href="https://www.linkedin.com/in/emmanuel-mazonga-69b3032a1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
            Emmanuel Mazonga
        </a>
        
        <p>Email:
            <a href="mailto:emmanuelmazonga100@gmail.com">
            emmanuelmazonga100@gmail.com
            </a>
        </p>
    </div>
</div>
{% endblock %}
